body{
	margin: 0;
	padding: 0;
	background-image: url('../img/curri.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;


}

.menu li{
	display: inline-block;
    margin-right: 16px;
 	
}
.menu li a{
	color: #778899;
	font-family: sans-serif;

}
h1{
    text-align: center;
    color: #0000FF;
    font-family: cursive;
}
.studr{
	background-color:#D3D3D3; top:0px; left:40px; right:
    0; bottom:0; opacity:0.9;
    color: black;
}
.row{
	width: 100%;
	position: relative;
	padding: 0 15px 0 15px;
}
.div1{
    width: 24%;
    margin: 0 4px 0 4px;
    height: 220px;
    top: 370px;
    float: left;
}
.div2{
	left: 380px;
}

.div3{
	left: 720px;
}
.div4{
	left: 1060px;
}

.conten-input{
    padding: 8px;
    text-align: center;
}
#datosp, #estudiosr, #experiencial, #referencias, #datosc{
color:white;
}

.conten-input input,textArea{
    width: 50%;
    background-color: #fff;
    border: 1px solid #DDD;
    padding: 4px;
} 

#contacto article{
    width: 30%;
    padding: 16px 0;
    display: inline-block;
    vertical-align: middle;
}
nav{
    text-align: right;
    background-color: #D3D3D3;
    padding: 8px;
}